/*
.md-header {
  --md-primary-fg-color: #ec604d;
  --md-primary-bg-color: #ffffff;
}

.md-tabs {
  --md-primary-fg-color: #ec604d;
  --md-primary-bg-color: #ffffff;
}

.md-banner {
  --md-footer-fg-color: #ec604d;
  --md-footer-bg-color: #ffffff;
}
*/
