/* Global customization */

:root {
}

/* Light mode theming */
:root,
:root[color-mode="light"] {
  --header-background: #ec604d;

  --button-background: #ec604d;
  --button-border-color: #ec604d;

  --link-color: #ec604d;
  --link-color-visited: #ec604d;

  --footer-link-color: #ec604d;
  --footer-link-color-visited: #ec604d;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #ec604d;

    --button-background: #ec604d;
    --button-border-color: #ec604d;

    --link-color: #ec604d;
    --link-color-visited: #ec604d;

    --footer-link-color: #ec604d;
    --footer-link-color-visited: #ec604d;
  }
}

/* Dark mode theming */
:root[color-mode="dark"] {
  --header-background: #ec604d;

  --button-background: #ec604d;
  --button-border-color: #ec604d;

  --link-color: #ec604d;
  --link-color-visited: #ec604d;

  --footer-link-color: #ec604d;
  --footer-link-color-visited: #ec604d;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #ec604d;

    --button-background: #ec604d;
    --button-border-color: #ec604d;

    --link-color: #ec604d;
    --link-color-visited: #ec604d;

    --footer-link-color: #ec604d;
    --footer-link-color-visited: #ec604d;
  }
}
